---
import BaseLayout from "@layout/BaseLayout.astro";
import Icon from "@ui/icons/Icon.astro";
import Button from "@ui/Button.astro";
import type { WithContext, Thing } from "schema-dts";

export const pageContent = {
  errorCode: "404",
  title: "Page Not Found",
  description: "The page you're looking for doesn't exist or has been moved.",
  goBackLabel: "Return",
};

const resources = [
  {
    title: "Solutions",
    description: "Explore our enterprise tech solutions.",
    icon: "brain",
    link: "/services",
  },
  {
    title: "Research Papers",
    description: "See how we solve complex challenges.",
    icon: "portfolio",
    link: "/support/researchPapers",
  },
  {
    title: "Articles",
    description: "Get help from our tech experts.",
    icon: "bookOpen",
    link: "/support/articles",
  },
];

const seo = {
  title: "Page Not Found - Wishyor",
  description:
    "The page you're looking for doesn't exist. Explore Wishyor's enterprise software, cloud, AI/ML, and digital transformation resources or return to homepage.",
};

const schema: WithContext<Thing> = {
  "@context": "https://schema.org",
  "@type": "WebPage",
  inLanguage: "en-US",
  "@id": Astro.url.href,
  url: Astro.url.href,
  name: "Page Not Found",
  description:
    "The page you're looking for doesn't exist. Explore Wishyor's enterprise software, cloud, AI/ML, and digital transformation resources or return to homepage.",
  isPartOf: {
    "@type": "WebSite",
    url: `${Astro.site}`,
    name: "Wishyor",
    description:
      "Wishyor delivers enterprise technology solutions: custom software, cloud, AI/ML, and digital transformation for global businesses.",
  },
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": Astro.url.href,
  },
};
---

<BaseLayout seo={seo} schema={schema}>
  <main>
    <section lang="en" class="grid min-h-full place-items-center px-6 pb-10 pt-32 sm:pt-48 lg:px-8">
      <div class="text-center">
        <p class="text-xl font-semibold text-teal-600">
          {pageContent.errorCode}
        </p>
        <h1 class="mt-4 text-balance text-4xl text-slate-800 sm:text-5xl md:text-6xl lg:text-7xl">
          {pageContent.title}
        </h1>
        <p class="mt-6 text-pretty text-lg font-medium text-slate-500 sm:text-xl/8">
          {pageContent.description}
        </p>
      </div>

      <nav class="mx-auto w-full px-4 py-10 sm:px-6 lg:px-8 lg:py-14" aria-label="Helpful Resources">
        <div class="mx-auto w-full max-w-lg px-4 sm:px-6 lg:px-8">
          <ul class="divide-y divide-dashed divide-slate-300">
            {
              resources.map((resource) => (
                <li>
                  <a
                    href={resource.link}
                    class="group flex gap-x-5 px-2 py-8 transition hover:bg-slate-100"
                  >
                    <Icon name={resource.icon} class="size-6 text-teal-600" />
                    <div class="grow">
                      <h2 class="font-semibold text-slate-600 transition group-hover:text-teal-700">
                        {resource.title}
                      </h2>
                      <p class="mt-1 text-slate-500">{resource.description}</p>
                    </div>
                    <Icon name="chevronRight" class="self-center text-slate-400 transition" />
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class="mt-5 flex items-center justify-center">
          <Button id="go-back" variant="primary">{pageContent.goBackLabel}</Button>
        </div>
      </nav>
    </section>
  </main>
  <script>
    document.addEventListener("astro:page-load", async () => {
      const goBackButton = document.getElementById("go-back") as HTMLButtonElement;

      goBackButton.addEventListener("click", () => {
        history.back();
      });
    });
  </script>
</BaseLayout>
